[submodule "RandomDice"]
	path = RandomDice
	url = git@github.com:hputiprawan2/RadomDice.git
[submodule "BMI_Calculator"]
	path = BMI_Calculator
	url = git@github.com:hputiprawan2/BMI_Calculator.git
[submodule "Calculator"]
	path = Calculator
	url = git@github.com:hputiprawan2/Calculator.git
[submodule "cardgame"]
	path = cardgame
	url = git@github.com:hputiprawan2/cardgame.git
[submodule "Destini"]
	path = Destini
	url = git@github.com:hputiprawan2/Destini.git
