[submodule "RandomDice"]
	path = RandomDice
	url = git@github.com:hputiprawan2/RadomDice.git
[submodule "BMI_Calculator"]
	path = BMI_Calculator
	url = git@github.com:hputiprawan2/BMI_Calculator.git
[submodule "Calculator"]
	path = Calculator
	url = git@github.com:hputiprawan2/Calculator.git
[submodule "cardgame"]
	path = cardgame
	url = git@github.com:hputiprawan2/cardgame.git
[submodule "Destini"]
	path = Destini
	url = git@github.com:hputiprawan2/Destini.git
[submodule "EggTimer"]
	path = EggTimer
	url = git@github.com:hputiprawan2/EggTimer.git
[submodule "Magic-8-Ball"]
	path = Magic-8-Ball
	url = git@github.com:hputiprawan2/Magic-8-ball.git
[submodule "Silly Song"]
	path = Silly Song
	url = git@github.com:hputiprawan2/SillySong.git
[submodule "Xylophone"]
	path = Xylophone
	url = git@github.com:hputiprawan2/Xylophone.git
[submodule "Tipsy"]
	path = Tipsy
	url = git@github.com:hputiprawan2/Tipsy.git
[submodule "Clima"]
	path = Clima
	url = git@github.com:hputiprawan2/Clima.git
[submodule "Quizzler"]
	path = Quizzler
	url = git@github.com:hputiprawan2/Quizzler.git
